{% extends "templates/partials/base.html" %}

{% block content %}


<div class="container">
  <div class="home-me-wrap">
    <img src="{{ cms.aboutme.picture_of_you|imageCrop(100) }}" class="home-me">
  </div>

  <h1>Hello. I'm <a href="{{ url('aboutme') }}">{{ cms.aboutme.name }}</a>.</h1>
  <div class="deck deck-smaller">
    {{ cms.aboutme.homepage_hello|markdown }}
  </div>

  <hr>


  {# MERGE A BUNCH OF CMS CONTENT TOGETHER INTO ONE FEED #}
  {% set editorial = merge(cms.article, cms.gallery, cms.reads, cms.video, cms.interview) %}
  {% set editorial = editorial|sort('publish_date', true) %}
  {# INFINITE SCROLL BY 10 #}
  {% set editorial = paginate(editorial, 10) %}



  <ul class="home-feed js-paginate" data-next-page="{{ getPageUrl(getCurPage() + 1) }}" data-max-page="{{ getPageUrl(getMaxPage()) }}" data-remove-first="true">

    {% for item in editorial %}
      {# GALLERY #}
      {# GALLERY #}
      {# GALLERY #}
      {% if item._type == "gallery" %}
        {% include "templates/partials/li_gallery.html" %}
      {# ARTICLE #}
      {# ARTICLE #}
      {# ARTICLE #}
      {% elseif item._type == "article" %}
        {% include "templates/partials/li_article.html" %}
      {# INTERVIEW #}
      {# INTERVIEW #}
      {# INTERVIEW #}
        {% elseif item._type == "interview" %}
      {% include "templates/partials/li_interview.html" %}
      {# LINK #}
      {# LINK #}
      {# LINK #}
      {% elseif item._type == "reads" %}
        {% include "templates/partials/li_link.html" %}
      {# VIDEO #}
      {# VIDEO #}
      {# VIDEO #}
      {% elseif item._type == "video" %}
        {% include "templates/partials/li_video.html" %}
      {% endif %}
    {% endfor %}
  </ul>


{% block scripts_extra %}{% endblock %}
